<div class="tpage">
    <div class="logo">
        SQMusic
    </div>
    <div class="menu">
        <div class="category" id="0">
            <a href="/index/" class="link">
                首页
            </a>
        </div>
        <div class="category" id="1">
            <a href="/category-1/" class="link">
                华语男歌手
            </a>
        </div>
        <div class="category" id="2">
            <a href="/category-2/" class="link">
                华语女歌手
            </a>
        </div>
        <div class="category" id="3">
            <a href="/category-3/" class="link">
                华语乐队
            </a>
        </div>
        <div class="category" id="5">
            <a href="/category-5/" class="link">
                欧美歌手
            </a>
        </div>
        <div class="category" id="4">
            <a href="/category-4/" class="link">
                专辑
            </a>
        </div>
        <div style="clear: both"></div>
    </div>
</div>